<div class="container-fluid bg-danger p-5 text-white">
    <div class="row container g-5 ms-5">
        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center text-center">
            <div>
                <h1>LOCATION</h1>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center text-center">
            <div>
                <h1>AROUND THE WEB</h1>
                <i class="fa-brands fa-facebook-f fs-3 me-2 border rounded p-1"></i>
                <i class="fa-brands fa-twitter fs-3 me-2 border rounded p-1"></i>
                <i class="fa-brands fa-linkedin-in fs-3 me-2 border rounded p-1"></i>
                <i class="fa-solid fa-globe mx-1 icon fs-3 me-2 border rounded p-1"></i>
            </div>
            
    </div>
    <div class="col-md-4 d-flex flex-column justify-content-center align-items-center text-center">
        <div>
            <h1>ABOUT FREELANCER</h1>
            <p>Freelance is a free to use, licensed Bootstrap theme <br> created by Route</p>
        
        </div>
    </div>

</div>
