<div class="container-fluid d-flex justify-content-center align-items-center flex-column">
    <h1 class="my-c mt-5 text-center">conatct section</h1>
    <div>
        <span class="my-c fs-1">------</span>
    <span><i class="fa-solid fa-star my-c fs-5 mt-4"></i></span>
    <span class="my-c fs-1">------</span>
    </div>

    <div class="row">
        <div class="col-md-6 ">
            <div>
                <form action="" class="d-flex flex-column justify-content-center align-items-center input-group">
                    <input type="text" name="" id="floatingInput" placeholder="userName" class="input-group-text text-start mt-3">
                    <input type="number" placeholder="userAge" class="input-group-text text-start mt-3">
                    <input type="email" placeholder="userEmail" class="input-group-text text-start mt-3">
                    <input type="password" placeholder="userPassword" class="input-group-text text-start mt-3 mb-4">
                </form>
            </div>
            <div>
                <button class="btn btn-primary mb-5 ">Send_Message</button>
            </div>
            
        </div>
    </div>
    
</div>