<div class="container-fluid d-flex justify-content-center align-items-center mt-5">

    <div class="row container g-5">
        <div class="col-md-4">
            <figure>
                <img src="poert1.png" alt="" class="w-100 border-1 rounded-3">
            </figure>
        </div>
        <div class="col-md-4">
            <figure>
                <img src="port2.png" alt="" class="w-100 border-1 rounded-3">
            </figure>
        </div>
        <div class="col-md-4">
            <figure>
                <img src="port3.png" alt="" class="w-100 border-1 rounded-3">
            </figure>
        </div>
        <div class="col-md-4">
            <figure>
                <img src="poert1.png" alt="" class="w-100 border-1 rounded-3">
            </figure>
        </div>
        <div class="col-md-4">
            <figure>
                <img src="port2.png" alt="" class="w-100 border-1 rounded-3">
            </figure>
        </div>
        <div class="col-md-4">
            <figure>
                <img src="port3.png" alt="" class="w-100 border-1 rounded-3 mb-5">
            </figure>
        </div>
    </div>
</div>